.breed-select {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 18px;
}

.cat-container {
  display: flex;
}

.cat-image {
  display: block;
  margin-right: 20px;
}

.loader {
  display: flex;
  align-items: center;
}

.loader p {
  font-size: 26px;
  margin-right: 10px;
}

.error {
  font-size: 26px;
}

.cat-name {
  font-size: 28px;
}

.cat-desc {
  max-width: 400px;
  font-size: 18px;
}

.cat-temp {
  max-width: 400px;
  font-size: 16px;
}

/* loader */

.loader-spin {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader-spin::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #56a4fd;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
